etc/

etc/metadata_by_decade_and_fields.csv.gz

etc/old/src/tmp/
etc/old/src/s2_fos

output/metadata_by_decade_all/
output/specterAPI

etc/old/s2fos_lookup/

s2search_data/
s2search/

05_query_specter_api/specter/*
05_query_specter_api/*pqt

src/get_s2fos_lookup_profiling/*

data/
src/profiling/*
umap_embedding_2NCOMP.parquet

openalex-snapshot/data/authors
openalex-snapshot/data/concepts
openalex-snapshot/data/institutions
openalex-snapshot/data/merged_ids
openalex-snapshot/data/venues
openalex-snapshot/data/works

20230131v1/abstracts/
20230131v1/authors/
20230131v1/citations/
20230131v1/embeddings/
20230131v1/papers/
20230131v1/paper-ids/
20230131v1/publication-venues/
20230131v1/s2orc/
20230131v1/tldrs/

__pycache__/
data_statements_to_lab.csv
data_statements_to_embed.jsonl
20230131v1/sem_scholar_dataset.json

node_modules/
package*
creds.py
20230131v1/2023-01-31_publication-venues.csv

.cache/
slurm-*
tmp/
