20200705v1/
etc/

etc/metadata_by_decade_and_fields.csv.gz

src/tmp/
src/s2_fos

output/metadata_by_decade_all/
output/specterAPI

s2fos_lookup/

s2search_data/
s2search/

05_query_specter_api/specter/*
05_query_specter_api/*pqt

src/get_s2fos_lookup_profiling/*

data/
src/profiling/*
umap_embedding_2NCOMP.parquet
